@import '../../global.scss';

.about {
  display: flex;
  flex-wrap: wrap;

  .left {
    display: flex;
    position: relative;
    flex: 0.4;

    @include mobile1 {
      flex: 0;
    }

    h3 {
      font-family: 'Be Vietnam Pro', sans-serif;
      display: flex;
      align-items: center;
      color: snow;
      font-size: 40px;
      margin: 10px 0;
      position: absolute;
      top: 25%;
      left: 20%;
    }

    .imgContainer {
      width: 700px;
      height: 700px;

      @include mobile1 {
        display: none;
      }

      img {
        margin-top: 70px;
        margin-left: 65px;
        width: 60%;
        position: relative;
        border: 2mm solid rgba(255, 255, 255, 0.6);
        border-radius: 30% 30% 50% 70%;
        padding: 30px;
      }
    }
  }
  .right {
    position: relative;
    flex: 0.6;
    overflow: hidden;

    @include mobile1 {
      flex: 1;
    }

    .wrapper {
      margin-right: 100px;
      border-radius: 30% 0% 0% 70%;
      background-color: rgb(12, 12, 12);
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 900px;
      justify-content: center;
      position: absolute;

      @include mobile1 {
        padding: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      p {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        color: snow;
        position: relative;
        font-size: 18px;
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 50px;
        margin-bottom: 100px;

        @include mobile1 {
          margin: none;
        }
      }
    }

    h2 {
      font-family: 'Be Vietnam Pro', sans-serif;
      font-weight: 200;
      font-style: italic;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      color: white;
      font-size: 40px;
      margin-left: 20px;
    }
  }

  a {
    display: flex;
    margin-top: 100px;
    position: absolute;
    left: 48.6%;
    top: 175%;

    img {
      margin-top: 30px;
      width: 40px;
      height: 25px;
      animation: arrowBlink 2s infinite;

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
